---
layout: default
title: A Spiritual Center in Olde Town Arvada - Sacred Sanctuary
page: home
---

<div class="container" style="opacity: 0;">
{% include carousel.html %}
</div>

<div class="container marketing" style="opacity: 0;">
	<hr />
	<div class="row featurette">
		<div class="col-sm-7">
			<p>
			Welcome to Sacred Sanctuary! We are a <strong>metaphysical center</strong> in the heart of Olde Town Arvada, CO. We are also the proud home of <strong>Lani Renee</strong>, renowned Spiritual Guide and Master Teacher of the New World Mystery Teachings. Come visit us and enjoy our spiritual boutique offering magic, inspiration, and unique spiritual tools for these times of transformation. We also offer tarot readings, spiritual counseling, a variety of healing modalities, magical alchemy and path working, classes and workshops, community and most importantly the journey.
			</p>
		</div>
		<div class="col-sm-5">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
		</div>
	</div>
	<hr />
	<div class="row featurette">
		<div class="col-sm-5">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Front Window of Sacred Sanctuary" src="/public/img/glass-logo.jpg">
		</div>
		<div class="col-sm-7">
			<p>
			We believe in the magic that leads to the discovery of the I am that makes your good life, a great life…..and brings a new breath of purpose, passion, and direction to your life and ultimately your world.
			</p>

			<h3><a href="{{ site.baseurl }}boutique.html">Looking for a sacred object or gift?</a></h3>
			<h3><a href="{{ site.baseurl }}lani-renee.html">Have a question, and need a reading?</a></h3>
			<h3><a href="{{ site.baseurl }}pathworking.html">Are you ready to change your life?</a></h3>


		</div>
	</div>
	<hr />

	{% include foot.html %}
</div>
