---
layout: default
title: A Spiritual Center in Olde Town Arvada - Sacred Sanctuary
page: home
---

<div class="container" style="opacity: 0;">
{% include carousel.html %}
</div>

<div class="container marketing" style="opacity: 0;">
	<hr />
	<div class="row featurette">
		<div class="col-sm-5">
			<img class="featurette-image img-responsive" alt="Sacred Sanctuary Logo" src="/public/img/front-logo.jpg">
		</div>
		<div class="col-sm-7">

			<h2>Our Sacred Sanctuary</h2>

			<p>
			Welcome to <strong>Sacred Sanctuary</strong>! We are a <strong>Metaphysical Center</strong> located in the heart of Olde Town Arvada, directly across from the new Light Rail Station. We are excited to announce that on April 1, 2016, we moved into a new space around the corner on Grandview Ave. so make sure to come see the new center soon! When you come into Sacred Sanctuary you will first experience our spiritual boutique, <strong>INSPIRATIONS</strong>, which offers a variety of spiritual products, and beautiful specialty gifts to enhance anyone’s sacred lifestyle. Our spiritual boutique is quite unique and a fun place to find new sacred treasures! You will be greeted by our adept team who can help you find that special gift for yourself or someone you love, or also help you explore the other aspects of all we offer at Sacred Sanctuary.
			</p>

			<p>
			We are also the home of <strong>Lani Renee & The Universal Mystery School</strong>. When you visit us, you can meet Lani, and/or make an appointment to meet with her for a session, reading, healing, or for whatever you might need. Lani is our professional spiritualist, with over 20 years of experience, and 13 years as an owner of a Metaphysical Center. She is the “door” to <strong>The Universal Mystery School</strong>, and a master teacher of alchemy, universal qabalah, universal shamanism, ritual mastery, and the High Priestess of our Temple.
			</p>

			<p>
			We at Sacred Sanctuary honor the sacred traditions, and believe every human soul has a special destiny, and through our collective spiritual growth, and by nurturing the well-being of our clients/students, we get to bring the magic and mystery back to life each and every day! So Come Visit Us in Olde Town, and experience a place where inspiration meets style and spirit!
			</p>

			<p>
			We also offer spiritual guidance, a variety of healing modalities, classes & workshops, alchemy and the universal mystery teachings, a supportive spiritual community, and most importantly a sacred home for you to enjoy a journey well traveled.
			</p>

		</div>
	</div>
	<hr />
	<div class="row featurette">
		<div class="col-sm-7">
			<h2>
				About Us…
			</h2>

			<p>
			The creators of Sacred Sanctuary are two extraordinary women who are passionate and committed to the magic of true spiritual progression, to the soulful care of their community, and always to their guardianship of the Great Work.
			</p>

			<p>
			<strong>Lani Renee</strong> and <strong>Karna Denea</strong>, both high priestesses and adept alchemists, have built a sacred sanctuary for spiritual aspirants and seeking souls, that will welcome you into a divine world full of magic and the mysteries. Lani & Karna share a background of successful careers, and “life in the real world,” but they too have always shared a deep desire to know the truth through deeper spiritual practices. One raised Catholic, the other Christian, their dynamic partnership combined with their personal spiritual journeys, and love and respect for each other, makes this magical duo a strong force in in today’s struggling world as they dedicate their work to helping others find their way by offering a sacred place for modern day spirituality to exist!
			</p>

		</div>
		<div class="col-sm-5">
			<img class="featurette-image img-responsive" alt="Karna and Lani" src="/public/img/karna-and-lani.jpg">
		</div>
	</div>
	<hr />
	<div class="row featurette">
		<div class="col-sm-5">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Front Window of Sacred Sanctuary" src="/public/img/glass-logo.jpg">
		</div>
		<div class="col-sm-7">
			<h2>
				Our Mission…
			</h2>

			<p>
			Our Mission at Sacred Sanctuary is to Change Lives! One soul at a time… We do this by providing a sacred environment, honoring the ancient ways and sacred traditions of the enlightened ones and masters who succeeded to the light and left the secrets for us to unfold, so that we can share our knowledge and magical experiences with everyone who enters our “threshold” of transformation.
			</p>

			<p>
			We believe in God, The Hierarchy of Light, and the Good of All. We are here in service to care for the human soul and to honor The Great Work. And we do what we do, with beauty and grace, because there is no other option, no better mission to fulfill, and no other way to live but in alignment with our Creator.
			</p>

		</div>
	</div>
	<hr />
	<div class="row featurette">
		<div class="col-sm-12 thankyou">
			<p>
			Thank you for visiting our website!
			</p>
			<h4>
			We hope you can join us on our journey of bringing the magic & mystery back to life!
			</h4>
		</div>
	</div>
	<hr />
	{% include foot.html %}
</div>
