---
layout: default
title: A Spiritual Center in Olde Town Arvada - Sacred Sanctuary
page: home
---

<div class="container" style="opacity: 0;">
{% include carousel.html %}
</div>

<div class="container marketing" style="opacity: 0;">
	<hr />
	<div class="row featurette">
		<div class="col-sm-5">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
		</div>
		<div class="col-sm-7">

			<p>
			Sacred Sanctuary is a <strong>Metaphysical Center</strong> in the heart of Olde Town Arvada, CO, consisting of three parts designed to support the spiritual growth and well being of our clients. We are a spiritual boutique, mystery school of ancient traditions, and home of Lani Renee. When you visit us, you will be met by a staff of highly trained spiritual adepts with the ability to help guide your experience; you will find sacred gifts and items that are both inspiring and supportive to your spiritual journey; and have the opportunity to work with a superbly gifted psychic spiritual guide, healer, and alchemist...<strong>Lani Renee</strong>.
			</p>

			<p>
			We also offer tarot readings, spiritual guidance, a variety of healing modalities, classes and workshops, mystery teachings, a spiritual community, and most importantly a home for you to enjoy a journey well traveled.
			</p>

			<h3><a href="{{ site.baseurl }}boutique.html">Looking for a sacred object or gift?</a></h3>
			<h3><a href="{{ site.baseurl }}lani-renee.html">Have a question, and need a reading?</a></h3>
			<h3><a href="{{ site.baseurl }}pathworking.html">Are you ready to change your life?</a></h3>
		</div>
	</div>
	<hr />
	<div class="row featurette">
		<div class="col-sm-7">
			<h2>
				About Us…
			</h2>
			<p>
			The creators of Sacred Sanctuary are two extraordinary women who are passionate and committed to the Great Work.
			</p>
			<p>
			<strong>Lani Renee</strong> and <strong>Karna Hall</strong>, both high Priestesses and true Alchemists, have built a sacred sanctuary for all souls seeking a door to spirituality. Lani & Karna share a background of successful careers, and “life in the real world,” but they too have always shared a deep desire to know the truth. One raised Catholic, the other Christian, their dynamic partnership combined with their personal spiritual journeys, makes this magical duo a strong force in helping others find their way by offering a whole new opportunity to embracing modern spirituality!
			</p>
		</div>
		<div class="col-sm-5">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
		</div>
	</div>
	<hr />
	<div class="row featurette">
		<div class="col-sm-5">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Front Window of Sacred Sanctuary" src="/public/img/glass-logo.jpg">
		</div>
		<div class="col-sm-7">
			<h2>
				Our Mission…
			</h2>
			<p>
			We at Sacred Sanctuary are bringing the magic & mystery back to life...through our sacred ways, guardianship of the ancient teachings, our High Priestess Temple, and by sharing the ageless wisdom to all who are ready to receive, while honoring all true religions, ancient philosophies, and sacred practices, by offering the "door" in which you can enter to experience the greatness of the mysteries yourself.
			</p>
			<p>
			We at Sacred Sanctuary have been called to do this work by a greater mission that is only known by our God and The Hierarchy of Light who serves humanity through those who have been chosen. We have been chosen, and take our mission reverently and we welcome those souls who also feel the call.
			</p>
			<p>
			Our Mission is to Change Lives...One Soul at a Time.
			</p>
			<p>
			Thank you, Lani
			</p>
			<p>
			This is what we believe the Great Ones/Masters meant when it was said, “Be the Change You Wish to See in the World.”
			</p>
		</div>
	</div>
	<hr />
	<div class="row featurette">
		<div class="col-sm-12 thankyou">
			<p>
			Thank you for visiting our website!
			</p>
			<h4>
			We hope you can join us on our journey of bringing the magic & mystery back to life!
			</h4>
		</div>
	</div>
	<hr />
	{% include foot.html %}
</div>
