<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
		<li data-target="#myCarousel" data-slide-to="5"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="/public/img/slide1.jpg" alt=""> 
			<div class="container">
				<div class="carousel-caption">
<!-- 
					<p>
						Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
					</p>
					<p>
					<a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
					</p>
 -->
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/public/img/slide2.jpg" alt=""> 
			<div class="container">
				<div class="carousel-caption">
					<h1>A Conscious Gift Store</h1>
<!-- 
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
					<p>
					<a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
					</p>
 -->
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/public/img/slide3.jpg" alt=""> 
			<div class="container">
				<div class="carousel-caption">
					<h1>Herbs, Candles and Magical Supplies</h1>
<!-- 
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
					<p>
					<a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
					</p>
 -->
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/public/img/slide4.jpg" alt=""> 
			<div class="container">
				<div class="carousel-caption">
					<h1>Crystals, Jewelry and Stones</h1>
<!-- 
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
					<p>
					<a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
					</p>
 -->
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/public/img/slide5.jpg" alt=""> 
			<div class="container">
				<div class="carousel-caption">
					<h1>A Spiritual Center in Olde Town Arvada</h1>
<!-- 
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
					<p>
					<a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
					</p>
 -->
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/public/img/slide6.jpg" alt=""> 
			<div class="container">
				<div class="carousel-caption">
					<h1>Classes and Workshops in an Intimate Setting</h1>
<!-- 
					<p>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</p>
					<p>
					<a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
					</p>
 -->
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 
</div>
