<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="public/js/app.js"></script>

{% if page.page == 'contact-us' %}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="public/js/map.js"></script>
{% endif %}

{% if page.page == 'calendar' %}
<script src="public/js/jquery.loadTemplate.min.js"></script>
<script src="public/js/moment.min.js"></script>
<script src="public/js/fullcalendar.min.js"></script>
<script src="public/js/meetup.js"></script>
{% endif %}
