<div class="navbar-wrapper" data-spy="affix" data-offset-top="195" data-offset-bottom="10">
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
<!-- 
				<a class="navbar-brand" href="{{ site.baseurl }}">{{ site.name }}</a> 
-->
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Sacred Sanctuary</a></li>
					<li><a href="#">A Conscious Gift Store</a></li>
					<li><a href="#">Home of Lani Renee</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Event Calendar</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

