@ss_blue: #0a192e;
@ss_gold: #624827;
@ss_grey: #5a5a5a;

/*		GLOBAL STYLES				-------------------------------------------------	*/
body {
	padding-bottom: 40px;
	color: @ss_grey;
}

h1, h2, h3, h4 {
	color: @ss_blue;
	font-family: 'EB Garamond', serif;
	font-weight: 400;
}

.thankyou {
	text-align: center;
}

.logo {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 80px;
	img {
		max-width: 100%;
	}
}

/*		CUSTOMIZE THE NAVBAR		-------------------------------------------------	*/
body {
	.navbar-wrapper {
		top: 0;
		right: 0;
		left: 0;
		z-index: 20;
		> .container {
			padding-right: 0;
			padding-left: 0;
		}
		&.affix-top {
			position: relative;
			top: -60px;
		}
		.navbar {
			position: absolute;
			width: 100%;
			padding-right: 15px;
			padding-left: 15px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			box-shadow: 0px 5px 7px #999;
			a:hover {
				color: white;
				font-weight: bold;
				text-shadow: 0px 0px 8px @ss_gold;
			}
			.active a:hover {
				cursor: default;
				font-weight: normal;
				text-shadow: none;
			}
			.container {
				width: auto;
			}
		}
	}
}



/*		CUSTOMIZE THE CAROUSEL		--------------------------------------------------	*/
.carousel {
	height: 500px;
	margin-top: 20px;
	box-shadow: 0px 5px 8px @ss_grey;
	.carousel-caption {
		z-index: 10;
	}
	.item {
		height: 500px;
		background-color: #777;
		> img {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			min-height: 500px;
		}
		h1 {
			padding: 10px;
			border-radius: 50px;
			background-color: rgba(10, 25, 46, 0.2);
			font-size: 24px;
			color: white;
			text-shadow: 0px 0px 5px @ss_gold;
		}
	}
}


/*		MARKETING CONTENT			--------------------------------------------------	*/
.marketing {
	.col-lg-4 {
		margin-bottom: 20px;
		text-align: center;
		p {
			margin-right: 10px;
			margin-left: 10px;
		}
	}
	hr {
		margin: 60px 0;
		border-color: @ss_gold;
	}
	img {
		border-radius: 10px;
	}
	h2 {
		line-height: 1;
		&::first-letter {
			font-size: 48px;
		}
	}
	h4 {
		font-size: 16px;
	}
	p:first-of-type {
		font-size: 16px;
	}
}


/*		RESPONSIVE CSS				--------------------------------------------------	*/
@media (min-width: 768px) {

	.navbar-wrapper {
		.container {
			padding-right: 15px;
			padding-left: 15px;
		}
		.navbar {
			padding-right: 0;
			padding-left: 0;
			border-radius: 4px;
		}
	}

	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}

	.marketing {
		h2 {
			font-size: 48px;
			&::first-letter {
				font-size: 64px;
			}
		}
	}
}

@media (min-width: 1200px) {
	.marketing {
		h2 {
			margin-top: 80px;
			font-size: 64px;
			&::first-letter {
				font-size: 84px;
			}
		}
	}
}

